{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock title %}

{% block content %}
<h2>Categorias de Livros</h2>

<section>
    {% for category in category_category %}
    <hr>
    <article>
        <header>
            <h3>{{category.name}} (de {{ category.author }}) </h3>
        </header>
        <div class="lista-de-cards">
            {% for book in category.book.all %}
            <div class="card">
                <a href="{% url 'lelari1:detail' book.id %}"><img src="{{ book.poster_url }}"
                        alt="Poster do Livro{{ book.name}}"></a>
                <p>{{ book.name }} ({{ book.post_date }})</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}

    <a href="{% url 'lelari1:category-list' %}"><button>Crie sua Categoria</button></a>

</section>

{% endblock content %}