{% extends 'base.html' %}

{% block title %}
Criar Livro
{% endblock title %}

{% block content %}
<h2>Criar Categoria</h2>

<form action="{% url 'lelari1:category-list' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Criar</button>
</form>

{% endblock content %}