{% extends 'base.html' %}

{% block content %}
<h2>Comentar Livro {{ book.name }} ({{ book.post_date }})</h2>

<form action="{% url 'lelari1:comment' book.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Publicar Comentário</button>
</form>

<p><a href="{% url 'lelari1:detail' book.id %}">Voltar para a página do livro</a></p>
{% endblock content %}