{% extends 'base.html' %}

{% block content %}
<form action="{% url 'lelari1:delete' book.id %}" method="post">
    {% csrf_token %}
    <p>
        Você tem certeza que deseja apagar o livro "{{ book.name }} ({{ book.post_date }})"?
    </p>
    <button type="submit">Apagar</button>
</form>

{% endblock content %}