{% extends 'base.html' %}

{% block title %}
{{ book.name }} ({{ book.post_date }}
{% endblock title %}

{% block content %}
<h2>Detalhes do livro {{ book.name }} ({{ book.post_date }})</h2>

<section class="dados-do-livro">
    <img src="{{ book.poster_url }}" alt="Poster do livro {{ book.name}}">
    <ul>
        <li>Nome: {{ book.name }}</li>
        <li>Ano de Lançamento: {{ book.post_date }} </li>
        {% if book.category_set.all %}
        <li>Incluso nas Categorias: {{ book.category_set.all|join:", " }} </li>
        {% endif %}
        <li><a href = "{% url 'lelari1:update' book.id %}">Editar</a></li>
        <li><a href = "{% url 'lelari1:delete' book.id %}">Apagar</a></li>
    </ul>
</section>


<hr>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if book.comment_set.all %}
            {% for comment in book.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author }}
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para este livro.</p>
        {% endif %}
    </ul>
</section>

</ul>
    
<hr>

<a href="{% url 'lelari1:comment' book.pk %}"><button>Deixe seu comentário</button></a>
</section>

{% endblock content %}