{% extends 'base.html' %}

{% block content %}
<h2>Todos os Livros</h2>
<section>
    <p>Muitos resultados? <a href="{% url 'lelari1:search' %}">Buscar Livros</a></p>
    <p>Não encontrou o livro? <a href="{% url 'lelari1:create' %}">Adicionar Novo Livro</a></p>
</section>
{% if book_list %}
<section class="lista-de-cards">
    {% for book in book_list %}
    <article class="card">
        <a href="{% url 'lelari1:detail' book.id %}"><img src="{{ book.poster_url }}"
                alt="Poster do livro {{ book.name}}"></a>
        <p>{{ book.name }} ({{ book.post_date }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum livro.</p>
{% endif %}

{% endblock content %}