{% extends 'base.html' %}

{% block content %}
<h2>Busca de Livros por Nome</h2>
<form action="{% url 'lelari1:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>


<h2>Resultado da Busca</h2>
{% if book_list %}
<section class="lista-de-cards">
    {% for book in book_list %}
    <article class="card">
        <img src="{{ book.poster_url }}" alt="Poster do livro {{ book.name}}">
        <p>{{ book.name }} ({{ book.post_date }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum livro para a busca.</p>
{% endif %}

{% endblock content %}