{% extends 'base.html' %}

{% block content %}
<h2>Atualizar Dados do Livro {{ book.name }} ({{ book.post_date}})</h2>
<form method="POST" action="{% url 'lelari1:update' book.id%}">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Atualizar</button>
</form>

{% endblock content %}